[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
yapf = "*"
requests = "*"
spacy = "*"
gensim = "*"
scikit-learn = "*"
vadersentiment = "*"
simplejson = "*"

[requires]
python_version = "3.7"
